<div class="content-frame-body">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>
				<%= @request.title %>
			</h4>
		</div>
		<div class="panel-body">
			<textarea name="tumble" style="width: 100%; height: 305px;resize: none;" readonly><%= @request.content %></textarea>
		</div>
	</div>
</div>