<footer style="position: relative; bottom: 0; width: 100%">




		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="topnav" id="myTopnav">
<div style="display: flex; justify-content: space-between;padding-top: 30px; margin-left: 20px">
	<img width="80px"; src="<%= current_site.the_logo %>" alt="logo">
	<div>
	<%== current_theme.the_field('footer-contacts') %>
	</div>
	<div>
		<%== current_theme.the_field('footer-rights') %>
	</div>
	
</div>
</div>
</footer>