<div class="col-md-3" id="post_right_bar">
	<div id="post-actions" class="panel panel-default panel-lite">
		<div class="panel-body">
			<div class="row">
				<div class="col-md-12 input-submit"><%= f.submit "#{ (@doc.new_record?) ? t('camaleon_cms.admin.page_title.create') : t('camaleon_cms.admin.page_title.update')}", class: "btn btn-success btn-lg btn-block" %></div>
			</div>
		</div>
	</div>
</div>