<div class="page-content-wrap">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading ui-draggable-handle">
          <h4>Редагувати тег</h4>
        </div>
        <%= render partial: 'form' %>
      </div>
    </div>
  </div>
</div>