<div class="row">
	<div class="col-md-9 col-sm-9">
		<ol class="breadcrumb" style="margin-left: 0;">
			<li><a href="/">На головну</a></li>
			<%= raw breadcrumb %>
		</ol>
	</div>
	<div class="col-md-3 col-sm-3">
		<%= render partial: 'partials/search_form' %>
	</div>
</div>