<%= stylesheet_link_tag "chat" %>
<%= javascript_include_tag "chat/chat" %>
<%= javascript_include_tag "chat/chat_init" %>
<%= javascript_include_tag "chat/fp2" %>

<div class="chatbot__btn">
  <div class="chatbot__tooltip d-none">У Вас є питання?</div>
</div>