<%= form_tag(cama_search_path, :method => "get", :class => "form-search form-horizontal") do %>
<div class="input-group">
	<input type="text" name="q" placeholder="<%= ct("search", default: 'Search here') %>...">
	<div class="input-group-btn">
		<button type="submit" class="btn btn-default search-btn">Пошук</button>
	</div>
</div>
<% end %>